<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>MondaiPrintListServlet</servlet-name>
		<servlet-class>com.gmail.yoshzawa.kakomon2015.MondaiPrintListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MondaiPrintListServlet</servlet-name>
		<url-pattern>/mondaiPrint/list</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>MondaiListServlet</servlet-name>
		<servlet-class>com.gmail.yoshzawa.kakomon2015.MondaiListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MondaiListServlet</servlet-name>
		<url-pattern>/mondai/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Kakomon2015</servlet-name>
		<servlet-class>com.gmail.yoshzawa.kakomon2015.Kakomon2015Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kakomon2015</servlet-name>
		<url-pattern>/kakomon2015</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MarkDownDecoder</servlet-name>
		<servlet-class>com.gmail.yoshzawa.mdDecoder.MarkDownDecoder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkDownDecoder</servlet-name>
		<url-pattern>*.md</url-pattern>
		
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>mondaiPrint/list</welcome-file>
	</welcome-file-list>
</web-app>